# env
.env
.env*

# ide
.vscode
.idea
.zed
*.swp
*.swo

# tmp
tmp

# go
go.work.sum

.air.toml

# mac
.DS_Store

# log
*.log

# python
celerybeat-schedule.db

/ios
/android

# OS files
.DS_Store
Thumbs.db

# Claude
.claude/

